<footer class ="container-fluid  bg-dark">
    <ul class="reseauxsociaux">
        <li><a href="#" target="_blank" class="fab fa-gitlab"></a></li>
    </ul>
    <div class="copyright">&copy; 2022 | Rafaël Soler | All Rights Reserved</div>
</footer>
