<div id="app" class="w-50 mx-auto mt-5">
    <input type="text" class="form-control" placeholder="search a person..." @input="fetchSearch()" v-model="search">
    <div class="list-group">
      <a :href="'/presta/'+item.presta_id" class="list-group-item list-group-item-action" v-for="item in result">
        {{item.date_presta}} {{item.lieu}} {{item.about}}
      </a>
    </div>
  </div>

  <script>
    Vue.createApp({
      data() {
        return {
          search: '',
          result: []
        }
      },
      methods: {
        async fetchSearch() {
          if (this.search.length > 2) {
            const reponse = await fetch('/api/person?search=' + this.search);
            console.log(this.search);
            this.results = await reponse.json();
          } else {
            this.results = [];
          }
        }
      }
    }).mount('#app')
  </script>