
.site-content{
    
    min-height:100vh ;
    background: url(https://www.oisans.com/wp-content/uploads/wpetourisme/11816650-diaporama-680x425.jpg) no-repeat center center/cover  ;
   
}
.form-css{
    
    margin-top: 10px;
}
.about-txt{
    border: 1px solid black; 
    padding: 5px;
    background-color: #FFF;
    overflow: auto;
    width: 10px;
    height: 10px;
}
.card{
    border-radius: 10px;
    margin: 10px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
li a{
    text-decoration: none;
    color: white;
}
a:hover{
    color :chartreuse;
}
footer {
    position: absolute;
    bottom: O;
    width: 100%;
    margin: 0 auto;
}

footer ul.reseauxsociaux {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

footer ul.reseauxsociaux li {
    display: inline;
    font-size: 25px;
    text-align: center;
    padding: 0 15px;
}

footer .copyright {
    text-align: center;
    font-size: 0.7em;
    color:  #FFF;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }
