<!DOCTYPE html>
<html lang="en">

<head>
  <meta th:replace="@{/include/meta}">
  <link th:replace="@{/include/link}">
  <title>Account</title>
</head>

<body>
  <header th:replace="@{/include/navbar}"></header>
  <main class="site-content">
  <div class="container-fluid">
    <h1>Account</h1>
    <div class="row">
      <div class="dropdown col-6">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Liste d'Instruments
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li th:each="instru : ${instrument}"><a th:text="${instru.instrument}" class="dropdown-item"
              th:href="@{/add-instru/} + ${instru.instrument_id}"></a></li>
        </ul>
      </div>

      <div class="dropdown col-6">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Liste de Style
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li th:each="style : ${style}"><a th:text="${style.style}" class="dropdown-item"
              th:href="@{/add-style/} + ${style.style_id}"></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div th:each="instru : ${instruMusicos}" class="card" style="width: 10rem;">
        <img src="https://media.istockphoto.com/photos/music-notes-picture-id523249390" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 th:text="${instru.instrument}" class="card-title">Card title</h5>
          <p class="card-text"></p>  
        </div>
      </div>
    </div>
    <div class="row">
      <div th:each="style : ${styleMusicos}" class="card" style="width: 10rem;">
        <img src="https://media.istockphoto.com/photos/music-notes-picture-id523249390" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 th:text="${style.style}" class="card-title">Card title</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <h3>About</h3>
    <span class="about-txt" th:text="${musicos.about}"></span>
    <form class="form-css" th:action="@{/add-about/}" method="post">
      <textarea name="about" cols="30" rows="5">
    </textarea>
      <button>Submit</button>
      
    </form>
  </div>
</main>
  <div th:replace="@{/include/footer}"></div>
  <div th:replace="@{/include/script}"></div>
</body>

</html>