<!DOCTYPE html>
<html lang="en">

<head>
    <meta th:replace="@{/include/meta}">
    <link th:replace="@{/include/link}">
    <title>Document</title>
</head>

<body>
    <header th:replace="@{/include/navbar}"></header>
    <main class="site-content">
        <div class="container-fluid"></div>
        <h1>Create Presta</h1>


        <form th:action="@{/create-presta/}" method="post">
            <label for="Lieu">Lieu :</label>
            <input class="form-control" type="text" id="lieu" th:field="${presta.lieu}">
            <label for="date">Date :</label>
            <input class="form-control" type="text" id="date" th:field="${presta.date_presta}">
            <label for="about">About :</label>
            <input class="form-control" type="text" id="about" th:field="${presta.about}">
            <label for="instrument">Instrument : </label>
            <select multiple id="instrument" class="form-select" th:field="${presta.instrument}">
                <option selected th:value="${null}">Select Instrument already on Stage</option>
                <option th:each="instrument : ${instrument}" th:value="${instrument.instrument_id}" 
                th:text="${instrument.instrument}"></option>
            </select>
            <label for="style">Style : </label>
            <select multiple id="style" class="form-select" th:field="${presta.style}">
                <option selected th:value="${null}">Select Style played in Presta</option>
                <option th:each="style : ${style}" th:value="${style.style_id}" 
                th:text="${style.style}"></option>
            </select>

            <button class="btn btn-primary mx-2 px-auto">Add</button>
        </form>
        </div>
    </main>
    <div th:replace="@{/include/footer}"></div>

    <div th:replace="@{/include/script}"></div>
</body>

</html>