<!DOCTYPE html>
<html lang="en">

<head>
  <meta th:replace="@{/include/meta}">
  <link th:replace="@{/include/link}">
  <title>Prestations</title>
  <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
  <header th:replace="@{/include/navbar}"></header>
  <main class="site-content">
    <div class="container-fluid">
      <h1>Prestations</h1>
    
      <div id="app" class="w-50 mx-auto mt-5">
        <input type="text" class="form-control" placeholder="search an instrument..." @input="fetchSearch()" v-model="search">
        <div class="list-group">
          <a :href="'/presta-card/'+item.presta_id" class="list-group-item list-group-item-action" v-for="item in result">
            {{item.date_presta}} {{item.lieu}} {{item.about}}
          </a>
        </div>
    </div>
   
    <div class="row">
      <div th:each="presta : ${prestas}" class="card " style="width: 18rem;">
        <img src="https://thumbs.dreamstime.com/b/foule-de-concert-15538179.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 th:text="${presta.date_presta}" class="card-title"></h5>
          <p th:text="${presta.lieu}" class="card-text"></p>
          <p th:text="${presta.about}" class="card-text"></p>
          <p>Instrument présent sur scène :</p>
          <p th:each="instru : ${presta.instrument}" th:text="${instru.instrument}" class="card-text"></p>
          <p>Style joué :</p>
          <p th:each="styl : ${presta.style}" th:text="${styl.style}" class="card-text"></p>
          <a th:href="@{/presta-card/} + ${presta.presta_id}" class="btn btn-primary">Go</a>
          <a th:href="@{/delete/} + ${presta.presta_id}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            search: '',
            result: []
          }
        },
        methods: {
          async fetchSearch() {
            if (this.search.length > 2) {
              const reponse = await fetch('/api/person?search=' + this.search);
              console.log(this.search);
              this.result = await reponse.json();
            } else {
              this.result = [];
            }
          }
        }
      }).mount('#app')
    </script>
  </div>
  </main>

  <div th:replace="@{/include/footer}"></div>

  <div th:replace="@{/include/script}"></div>
</body>

</html>