<!DOCTYPE html>
<html lang="en">
<head>
    <meta th:replace="@{/include/meta}">
    <link th:replace="@{/include/link}">
    <title>Presta</title>
</head>
<body>
    <header th:replace="@{/include/navbar}"></header>
    <main class="site-content">
        <div class="row mx-auto">
            <div th:each="presta : ${prestas}" class="card" style="width: 18rem;">
              <img src="https://thumbs.dreamstime.com/b/foule-de-concert-15538179.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 th:text="${presta.date_presta}" class="card-title"></h5>
                <p th:text="${presta.lieu}" class="card-text"></p>
                <p th:text="${presta.about}" class="card-text"></p>
                <p>Instrument présent sur scène :</p>
                <p th:each="instru : ${presta.instrument}" th:text="${instru.instrument}" class="card-text"></p>
                <p>Style joué :</p>
                <p th:each="styl : ${presta.style}" th:text="${styl.style}" class="card-text"></p>
              </div>
            </div>
          </div>
    </main>
        <div th:replace="@{/include/footer}"></div>
    
        <div th:replace="@{/include/script}"></div>
</body>
</html>