<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="@{/include/meta}">
    <link th:replace="@{/include/link}">
    <title>Register</title>
</head>

<body>
    <header th:replace="@{/include/navbar}"></header>
    <main class="site-content">
        <h1>Register</h1>
        <div class="card w-75 mx-auto">
            <div class="card-body">
                <p th:if="${feedback}" th:text=${feedback}></p>
                <form th:action="@{/register}" method="post" novalidate>
                    <label for="firstName">Prénom :</label>
                    <input class="form-control"
                        th:classappend="${#fields.hasErrors('musicosProfile.firstName')}?'is-invalid'" type="text"
                        id="firstName" th:field="${musicosProfile.firstName}">
                    <p class="invalid-feedback" th:errors="${musicosProfile.firstName}"></p>
                    <label for="lastName">Nom :</label>
                    <input class="form-control"
                        th:classappend="${#fields.hasErrors('musicosProfile.lastName')}?'is-invalid'" type="text"
                        id="lastName" th:field="${musicosProfile.lastName}">
                    <p class="invalid-feedback" th:errors="${musicosProfile.lastName}"></p>
                    <label for="région">Région :</label>
                    <input class="form-control"
                        th:classappend="${#fields.hasErrors('musicosProfile.région')}?'is-invalid'" type="text"
                        id="région" th:field="${musicosProfile.région}">
                    <p class="invalid-feedback" th:errors="${musicosProfile.région}"></p>
                    <label for="email">Email :</label>
                    <input class="form-control"
                        th:classappend="${#fields.hasErrors('musicosProfile.email')}?'is-invalid'" type="email"
                        id="email" th:field="${musicosProfile.email}">
                    <p class="invalid-feedback" th:errors="${musicosProfile.email}"></p>
                    <label for="password">Password :</label>
                    <input class="form-control"
                        th:classappend="${#fields.hasErrors('musicosProfile.password')}?'is-invalid'" type="password"
                        id="password" th:field="${musicosProfile.password}">
                    <p class="invalid-feedback" th:errors="${musicosProfile.password}"></p>
                    <button class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </main>
    <div th:replace="@{/include/footer}"></div>

    <div th:replace="@{/include/script}"></div>
</body>

</html>